body {
  font-family: "Outfit", sans-serif;
  background: linear-gradient(to right, #a8e063, #56ab2f); 
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10%;
}

.auth-card {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  width: 400px;
  text-align: center;
}

.form-header {
  margin-bottom: 20px;
}

.logo {
  max-width: 120px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin: 0;
  color: #56ab2f; 
}

.auth-form .form-group {
  margin-bottom: 15px;
  text-align: left;
}

.auth-form .form-group label {
  font-weight: bold;
  color: #333;
}

.auth-form .form-group input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.auth-form .form-group input:focus {
  outline: none;
  border-color: #56ab2f; 
  box-shadow: 0 0 5px rgba(86, 171, 47, 0.5); 
}

.btn-primary {
  background-color: #56ab2f;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #a8e063; 
}


