<div class="ordenes-modal-content">
  <h2>Mis Órdenes</h2>
  <div *ngIf="ordenes.length === 0">No tienes órdenes registradas.</div>
  <div *ngIf="ordenes.length > 0" class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>ID de Orden</th>
          <th>Fecha</th>
          <th>Total</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orden of ordenes">
          <td>{{ orden.ordenId }}</td>
          <td>{{ orden.fechaOrden | date: 'short' }}</td>
          <td>COP {{ orden.totalOrden | number: '1.0-0' }}</td>
          <td>
            <span [ngClass]="getOrdenEstadoClass(orden.estado)">{{ orden.estado }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
