<div class="filtros-circulares">
    <div class="filtro-item">
      <img src="images/oferta_del_mes.png" alt="Ofertas del Mes">
      <p>Ofertas del Mes</p>
    </div>
    <div class="filtro-item">
      <img src="images/celular.png" alt="Promo Tec">
      <p>Promo Tec</p>
    </div>
    <div class="filtro-item">
      <img src="images/celular.png" alt="Celulares">
      <p>Celulares</p>
    </div>
    <div class="filtro-item">
      <img src="images/computadora.png" alt="Computadoras">
      <p>Computadoras</p>
    </div>
    <div class="filtro-item">
      <img src="images/ropa_deportiva_filtro.png" alt="Ropa Deportiva">
      <p>Ropa Deportiva</p>
    </div>
    <div class="filtro-item">
      <img src="assets/images/zapatos.jpg" alt="Zapatos">
      <p>Zapatos</p>
    </div>
  </div>
  